# Python-cachefiler
__pycache__/
*.py[cod]
*.pyo

# Virtuella miljöer
venv/
env/

# IDE-specifika filer
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln
*.swp

# Operativsystemspecifika filer
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini

# Loggfiler och tillfälliga filer
*.log
*.tmp

# Bytekompilerade filer
*.class

# Databaser
*.db
*.sqlite3

# Miljöfiler (känsliga uppgifter)
.env
