# Ignorera Python-cachefiler
__pycache__/
*.py[cod]
*.pyo

# Ignorera virtuella miljöer
.venv/
env/

# Ignorera operativsystemspecifika filer
.DS_Store
Thumbs.db

# Ignorera build/ och dist/ mappar (genererade av PyInstaller)
build/
dist/

# Ignorera PyInstaller-specifik fil
*.spec

# Ignorera loggfiler
*.log
*.txt

# Ignorera komprimerade filer
*.zip

# Ignorera IDE-specifika filer
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln
*.swp

# Ignorera andra temporära filer
None
